.login-form {
  background-color: ;
  position: relative;
  margin-top: -20px;
}
.main-head {
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: rgb(224, 222, 222);
  height: 100px;
}
.input {
  width: 100%;
  height: 50px;
}
.main-login {
  width: 50%;
  margin: auto;
}
.main-login h4 {
  text-align: left;
}
.my-login {
  background-color: black;
  color: white;
  width: 100%;
  padding: 20px;
  border: none;
}
.my-in {
  display: inline-block;
  background-color: black;
  color: white;
  width: 95%;
  padding: 20px;
  text-decoration: none;
}
.my-registered {
  text-align: center;
}
.main-parent {
  text-align: center;
  margin-top: 20px;
}
h4 {
  text-decoration: underline;
}
.mon-login {
  text-align: center;
  display: inline-block;
  background-color: black;
  width: 100%;
  padding: 20px;
  border: none;
  color: white;
  font-size: 1em;
}
#email{
  border: 1px solid rgb(144, 182, 144);
}
#password{
  border: 1px solid rgb(174, 216, 174);
}
@media (max-width:425px) {
  .mon-login{
   width:115% ;
   color: white;
   background-color: black;
  }
  #email{
    width:110% ;   
  } 
  #password{
    width:110% ;   
  }

}

